.navbar-navbar {
  top: 0;
  width: 100%;
  height: 71px;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.navbar-header {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.navbar-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar-navbar1 {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.navbar-middle {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.navbar-left {
  width: 1200px;
  display: flex;
  grid-gap: 45px;
  position: relative;
  margin-top: 0px;
  align-items: flex-start;
  justify-content: center;
}
.navbar-text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-text1 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navbar-text2 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.navbar-navlink {
  display: contents;
}
.navbar-image {
  width: 225px;
  height: 61px;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  text-decoration: none;
}
.navbar-text3 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navbar-text-karyer {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: 0px;
  text-decoration: none;
}
.navbar-text4 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  text-decoration: none;
}




@media(max-width: 479px) {
  .navbar-root-class-name {
    display: none;
  }
  .navbar-root-class-name2 {
    display: none;
  }
  .navbar-root-class-name3 {
    display: none;
  }
}

.navbar-mobile-navbar {
  top: 0;
  width: 100%;
  height: 71px;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.navbar-mobile-header {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.navbar-mobile-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar-mobile-navbar1 {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.navbar-mobile-middle {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.navbar-mobile-left {
  width: 1200px;
  display: flex;
  grid-gap: 45px;
  position: relative;
  margin-top: 0px;
  align-items: flex-start;
  justify-content: center;
}
.navbar-mobile-navlink {
  display: contents;
}
.navbar-mobile-image {
  width: 225px;
  height: 61px;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  text-decoration: none;
}
.navbar-mobile-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-mobile-text {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.navbar-mobile-dropdown-arrow {
  transition: 0.3s;
}
.navbar-mobile-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.navbar-mobile-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navbar-mobile-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-mobile-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-mobile-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-mobile-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-mobile-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-mobile-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-mobile-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-mobile-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-mobile-text3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-mobile-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-mobile-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-mobile-text4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-mobile-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-mobile-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-mobile-text5 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-mobile-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-mobile-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-mobile-text6 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-mobile-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle7 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-mobile-dropdown-toggle7:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-mobile-text7 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-mobile-root-class-name {
  display: none;
}
.navbar-mobile-root-class-name1 {
  display: none;
}
.navbar-mobile-root-class-name2 {
  display: none;
}
@media(max-width: 479px) {
  .navbar-mobile-header {
    align-self: center;
    padding-top: 5px;
    padding-left: 200px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  .navbar-mobile-navbar1 {
    align-items: flex-start;
  }
  .navbar-mobile-middle {
    align-self: flex-start;
  }
  .navbar-mobile-left {
    width: 470px;
    align-self: flex-start;
  }
  .navbar-mobile-image {
    width: 180px;
    height: 49px;
    align-self: center;
    margin-top: 0px;
    margin-left: -40px;
    margin-right: -40px;
  }
  .navbar-mobile-thq-dropdown {
    align-self: flex-end;
  }
  .navbar-mobile-text {
    color: #ffffff;
    margin-left: 30px;
  }
  .navbar-mobile-dropdown-list {
    left: 0%;
    display: none;
  }
  .navbar-mobile-text1 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .navbar-mobile-text2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .navbar-mobile-text3 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .navbar-mobile-root-class-name {
    display: flex;
  }
  .navbar-mobile-root-class-name1 {
    display: flex;
  }
  .navbar-mobile-root-class-name2 {
    display: flex;
  }
}

.section-heading-section-heading {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.section-heading-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-text1 {
  color: var(--dl-color-gray-black60);
  text-align: center;
  line-height: 24px;
}
.section-heading-root-class-name {
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-root-class-name1 {
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-root-class-name2 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 12px;
}
.section-heading-root-class-name3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name5 {
  margin-top: var(--dl-space-space-unit);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name6 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name7 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name8 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 12px;
}
.section-heading-root-class-name9 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name10 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name11 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name12 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name13 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name14 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name15 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name16 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name17 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name18 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name19 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name20 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name21 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name22 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name23 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name24 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name25 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name26 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name27 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name28 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name29 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name30 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name31 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name32 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
@media(max-width: 479px) {
  .section-heading-root-class-name4 {
    top: 0px;
    left: 147px;
    position: static;
  }
}

.blog-post-card-blog-post-card {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 400px;
  align-self: stretch;
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post-card-blog-post-card:hover {
  transform: scale(1.1);
}
.blog-post-card-image {
  flex: 1;
  width: 100%;
  object-fit: cover;
}
.blog-post-card-container {
  width: 100%;
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-items: center;
  padding-top: Half0Unit;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: Half0Unit;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card-text {
  color: var(--dl-color-gray-black80);
  font-size: 22px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 0px;
  font-weight: 500;
  line-height: 28px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-card-text1 {
  color: var(--dl-color-gray-black50);
  font-size: 16px;
  font-style: normal;
  margin-bottom: 0px;
}
.blog-post-card-link {
  align-self: flex-start;
  justify-content: flex-start;
}
.blog-post-card-root-class-name {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name1 {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name2 {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name3 {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name4 {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name5 {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name6 {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name7 {
  max-width: 270px;
  max-height: 480px;
}

.category-card-category-card {
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}
.category-card-category-card:hover {
  color: var(--dl-color-pallet-yellow);
  transform: scale(1.2);
}
.category-card-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
  object-position: bottom;
}
.category-card-text {
  line-height: 14px;
}

.con-card-category-card {
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}
.con-card-category-card:hover {
  color: var(--dl-color-pallet-yellow);
  transform: scale(1.2);
}
.con-card-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
  object-position: bottom;
}
.con-card-root-class-name {
  width: 50px;
  height: 50px;
  margin-top: -20px;
  margin-left: 5px;
}
.con-card-root-class-name1 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 50px;
}
.con-card-root-class-name2 {
  width: 50px;
  height: 50px;
  opacity: 0.4;
  margin-top: -50px;
  margin-left: 85px;
}
.con-card-root-class-name3 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 50px;
}
.con-card-root-class-name4 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: -100px;
  margin-left: 85px;
  margin-bottom: 50px;
}
.con-card-root-class-name5 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: -100px;
  margin-left: 85px;
  margin-bottom: 50px;
}
.con-card-root-class-name6 {
  width: 50px;
  height: 50px;
  opacity: 0.4;
  margin-top: -20px;
  margin-left: 5px;
}
.con-card-root-class-name7 {
  width: 50px;
  height: 50px;
  opacity: 0.4;
  margin-top: -50px;
  margin-left: 85px;
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #00f5ff;
  border-width: 2px;
  flex-direction: column;
  background-color: #000000;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-max-width {
  padding-left: 0px;
  padding-right: 0px;
}
.footer-footer1 {
  width: 1064px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.footer-container {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.footer-arsserfooterlogo {
  width: 300px;
  object-fit: cover;
}
.footer-text {
  color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: -120px;
}
.footer-maplogo1 {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  object-fit: cover;
}
.footer-maplogo2 {
  width: 25px;
  height: 25px;
  margin-top: 50px;
  object-fit: cover;
}
.footer-telephonelogo {
  width: 25px;
  height: 25px;
  margin-top: 30px;
  object-fit: cover;
}
.footer-text08 {
  color: rgb(255, 255, 255);
  margin-top: -25px;
  margin-left: var(--dl-space-space-twounits);
}
.footer-maillogo {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  object-fit: cover;
}
.footer-link {
  color: rgb(255, 255, 255);
  margin-top: -25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-links-container {
  width: 460px;
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  margin-top: 100px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container1 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text13 {
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-style: normal;
  margin-top: 40px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-link1 {
  display: contents;
}
.footer-component {
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-component1 {
  text-decoration: none;
}
.footer-link3 {
  display: contents;
}
.footer-component2 {
  text-decoration: none;
}
.footer-container2 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text14 {
  color: #ffffff;
  font-size: 23px;
  align-self: center;
  font-style: normal;
  margin-top: 40px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-navlink {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink1 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text15 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text16 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text17 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink2 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  align-self: center;
  text-decoration: none;
}
.footer-banner {
  flex: 0 0 auto;
  width: auto;
  height: 1px;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.footer-text18 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-top: 25px;
  margin-left: var(--dl-space-space-twounits);
}

































.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-hero {
  height: auto;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-pallet-green);
}
.home-max-width {
  width: auto;
  max-width: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.home-hero1 {
  width: 1200px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-pnga01 {
  width: 650px;
  height: auto;
  object-fit: cover;
  margin-left: 32px;
}
.home-container1 {
  width: 514px;
  height: 306px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}
.home-text {
  width: 480px;
  height: 220px;
  z-index: 100;
  font-size: 38px;
  max-width: 500px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  text-align: left;
  font-family: "Verdana";
  font-weight: 400;
  line-height: 55px;
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-fourunits);
  letter-spacing: 0.02px;
  text-decoration: none;
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-navlink {
  text-decoration: none;
}
.home-hizmetlerimiz {
  width: 100%;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-max-width1 {
  width: 100%;
  height: 767px;
}
.home-container2 {
  flex: 0 0 auto;
  width: 1180px;
  height: 759px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-full-width-banner {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: stretch;
  padding-top: 0px;
  justify-content: center;
}
.home-left {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: #F3F0E6;
}
.home-content {
  margin: 0 0 40px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.home-text01 {
  color: rgb(0, 0, 0);
  height: auto;
  margin: 0 0 16px 0;
  font-size: 28px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: "Jost";
  font-weight: 500px;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text04 {
  font-size: 23px;
  line-height: 35px;
}
.home-text07 {
  color: rgba(0, 0, 0, 0.6);
  width: 267px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: "Jost";
  font-weight: 400px;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-btn {
  cursor: pointer;
  display: flex;
  padding: 16px 24px;
  position: relative;
  box-sizing: border-box;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(239, 193, 76, 1);
}
.home-btn:hover {
  background-color: var(--dl-color-gray-white);
}
.home-text11 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: "Jost";
  font-weight: 500px;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.home-image {
  flex: 1;
  width: 800px;
  height: 400px;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-twounits);
  flex-wrap: wrap;
  max-width: 1080px;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-banner {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-950);
}
.home-container3 {
  flex: 0 0 auto;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-image1 {
  width: 240px;
  height: 135px;
  object-fit: cover;
}
.home-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container5 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 770px;
  box-sizing: border-box;
  margin-top: 0px;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.home-text12 {
  color: var(--dl-color-gray-black80);
  width: 100%;
  height: auto;
  z-index: 40;
  font-size: 16px;
  align-self: auto;
  text-align: center;
  font-family: "Jost";
  font-weight: 400px;
  line-height: 175%;
  font-stretch: normal;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-text15 {
  font-style: normal;
  font-weight: 600;
}
.home-text17 {
  font-style: normal;
  font-weight: 600;
}
.home-text20 {
  font-weight: 400;
}
.home-text21 {
  font-style: normal;
  font-weight: 500;
}
.home-text23 {
  font-style: normal;
  font-weight: 600;
}
.home-navlink1 {
  z-index: 100;
  margin-top: 0px;
  text-decoration: none;
}
.home-svg {
  top: 35-px;
  width: 480px;
  height: 270px;
  opacity: 0.15;
  z-index: 0;
  position: absolute;
}
@media(max-width: 479px) {
  .home-max-width {
    width: 470px;
  }
  .home-hero1 {
    width: 450px;
    justify-content: space-between;
  }
  .home-pnga01 {
    width: 350px;
    margin-left: 0px;
  }
  .home-container1 {
    width: 257px;
    height: 220px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
  }
  .home-text {
    width: 100px;
    height: 110px;
    font-size: 12px;
    max-width: 240px;
    font-style: normal;
    margin-top: 20px;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 20px;
  }
  .home-btn-group {
    width: auto;
    height: auto;
    align-items: stretch;
    margin-left: -10px;
    margin-right: 20px;
    justify-content: space-between;
  }
  .home-navlink {
    font-size: 12px;
    font-style: normal;
    margin-top: -50px;
    text-align: left;
    align-items: flex-start;
    font-weight: 500;
    padding-left: 0px;
    padding-right: 20px;
    justify-content: flex-start;
  }
}
