.navbar-navbar {
  top: 0;
  width: 100%;
  height: 71px;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.navbar-header {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.navbar-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar-navbar1 {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.navbar-middle {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.navbar-left {
  width: 1200px;
  display: flex;
  grid-gap: 45px;
  position: relative;
  margin-top: 0px;
  align-items: flex-start;
  justify-content: center;
}
.navbar-text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-text1 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navbar-text2 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.navbar-navlink {
  display: contents;
}
.navbar-image {
  width: 225px;
  height: 61px;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  text-decoration: none;
}
.navbar-text3 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navbar-text-karyer {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: 0px;
  text-decoration: none;
}
.navbar-text4 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  text-decoration: none;
}



@media(max-width: 479px) {
  .navbar-root-class-name2 {
    display: none;
  }
  .navbar-root-class-name3 {
    display: none;
  }
}

.navbar-mobile-navbar {
  top: 0;
  width: 100%;
  height: 71px;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.navbar-mobile-header {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.navbar-mobile-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar-mobile-navbar1 {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.navbar-mobile-middle {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.navbar-mobile-left {
  width: 1200px;
  display: flex;
  grid-gap: 45px;
  position: relative;
  margin-top: 0px;
  align-items: flex-start;
  justify-content: center;
}
.navbar-mobile-navlink {
  display: contents;
}
.navbar-mobile-image {
  width: 225px;
  height: 61px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  text-decoration: none;
}
.navbar-mobile-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-mobile-text {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.navbar-mobile-dropdown-arrow {
  transition: 0.3s;
}
.navbar-mobile-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.navbar-mobile-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navbar-mobile-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-mobile-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-mobile-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-mobile-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-mobile-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-mobile-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-mobile-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-mobile-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-mobile-text3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-mobile-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-mobile-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-mobile-text4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-mobile-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-mobile-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-mobile-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-mobile-text5 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-mobile-root-class-name {
  display: none;
}
.navbar-mobile-root-class-name1 {
  display: none;
}
@media(max-width: 479px) {
  .navbar-mobile-header {
    align-self: center;
    padding-top: 5px;
    padding-left: 200px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  .navbar-mobile-navbar1 {
    align-items: flex-start;
  }
  .navbar-mobile-middle {
    align-self: flex-start;
  }
  .navbar-mobile-left {
    width: 470px;
    align-self: flex-start;
  }
  .navbar-mobile-image {
    width: 180px;
    height: 49px;
    align-self: center;
    margin-top: 0px;
    margin-left: -40px;
    margin-right: -40px;
  }
  .navbar-mobile-thq-dropdown {
    align-self: flex-end;
  }
  .navbar-mobile-text {
    color: #ffffff;
    margin-left: 30px;
  }
  .navbar-mobile-dropdown-list {
    left: 0%;
    display: none;
  }
  .navbar-mobile-text1 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .navbar-mobile-text2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .navbar-mobile-text3 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .navbar-mobile-text4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .navbar-mobile-text5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .navbar-mobile-root-class-name {
    display: flex;
  }
  .navbar-mobile-root-class-name1 {
    display: flex;
  }
}

.section-heading-section-heading {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.section-heading-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-text1 {
  color: var(--dl-color-gray-black60);
  text-align: center;
  line-height: 24px;
}
.section-heading-root-class-name {
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-root-class-name1 {
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-root-class-name2 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 12px;
}
.section-heading-root-class-name3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name5 {
  margin-top: var(--dl-space-space-unit);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name6 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name7 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name8 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 12px;
}
.section-heading-root-class-name9 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name10 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name11 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name12 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name13 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name14 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name15 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name16 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name17 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name18 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name19 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name20 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name21 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name22 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name23 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name24 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name25 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name26 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name27 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name28 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name29 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name30 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name31 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name32 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
@media(max-width: 479px) {
  .section-heading-root-class-name4 {
    top: 0px;
    left: 147px;
    position: static;
  }
}

.projecs-card-blog-post-card {
  width: 300px;
  height: 250px;
  display: flex;
  position: relative;
  max-width: 300px;
  align-self: stretch;
  max-height: auto;
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.projecs-card-blog-post-card:hover {
  transform: scale(1.1);
}
.projecs-card-image {
  flex: 1;
  width: 300px;
  height: 250px;
  object-fit: cover;
}
.projecs-card-container {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: space-between;
}
.projecs-card-text {
  color: var(--dl-color-gray-black80);
  width: 300px;
  height: 50px;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 0px;
  font-weight: 500;
  line-height: 28px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
}






















.projecs-card-root-class-name22 {
  margin-right: 350px;
}
@media(max-width: 479px) {
  .projecs-card-root-class-name22 {
    margin-right: 0px;
  }
}

.con-card-category-card {
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}
.con-card-category-card:hover {
  color: var(--dl-color-pallet-yellow);
  transform: scale(1.2);
}
.con-card-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
  object-position: bottom;
}
.con-card-root-class-name {
  width: 50px;
  height: 50px;
  margin-top: -20px;
  margin-left: 5px;
}
.con-card-root-class-name1 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 50px;
}
.con-card-root-class-name2 {
  width: 50px;
  height: 50px;
  opacity: 0.4;
  margin-top: -50px;
  margin-left: 85px;
}
.con-card-root-class-name3 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 50px;
}
.con-card-root-class-name4 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: -100px;
  margin-left: 85px;
  margin-bottom: 50px;
}
.con-card-root-class-name5 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: -100px;
  margin-left: 85px;
  margin-bottom: 50px;
}
.con-card-root-class-name6 {
  width: 50px;
  height: 50px;
  opacity: 0.4;
  margin-top: -20px;
  margin-left: 5px;
}
.con-card-root-class-name7 {
  width: 50px;
  height: 50px;
  opacity: 0.4;
  margin-top: -50px;
  margin-left: 85px;
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #00f5ff;
  border-width: 2px;
  flex-direction: column;
  background-color: #000000;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-max-width {
  padding-left: 0px;
  padding-right: 0px;
}
.footer-footer1 {
  width: 1064px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.footer-container {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.footer-arsserfooterlogo {
  width: 300px;
  object-fit: cover;
}
.footer-text {
  color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: -120px;
}
.footer-maplogo1 {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  object-fit: cover;
}
.footer-maplogo2 {
  width: 25px;
  height: 25px;
  margin-top: 50px;
  object-fit: cover;
}
.footer-telephonelogo {
  width: 25px;
  height: 25px;
  margin-top: 30px;
  object-fit: cover;
}
.footer-text08 {
  color: rgb(255, 255, 255);
  margin-top: -25px;
  margin-left: var(--dl-space-space-twounits);
}
.footer-maillogo {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  object-fit: cover;
}
.footer-link {
  color: rgb(255, 255, 255);
  margin-top: -25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-links-container {
  width: 460px;
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  margin-top: 100px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container1 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text13 {
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-style: normal;
  margin-top: 40px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-link1 {
  display: contents;
}
.footer-component {
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-component1 {
  text-decoration: none;
}
.footer-link3 {
  display: contents;
}
.footer-component2 {
  text-decoration: none;
}
.footer-container2 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text14 {
  color: #ffffff;
  font-size: 23px;
  align-self: center;
  font-style: normal;
  margin-top: 40px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-navlink {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink1 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text15 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text16 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text17 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink2 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  align-self: center;
  text-decoration: none;
}
.footer-banner {
  flex: 0 0 auto;
  width: auto;
  height: 1px;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.footer-text18 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-top: 25px;
  margin-left: var(--dl-space-space-twounits);
}

































.projeler-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.projeler-hizmetlerimiz {
  width: 100%;
  height: 2600px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.projeler-max-width {
  width: 100%;
  height: 2600px;
  align-self: flex-start;
  justify-content: flex-start;
}
.projeler-container1 {
  flex: 0 0 auto;
  width: 1000px;
  height: 2400px;
  margin: 50px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.projeler-navlink {
  display: contents;
}
.projeler-projecs-card1 {
  text-decoration: none;
}
.projeler-navlink01 {
  display: contents;
}
.projeler-projecs-card2 {
  text-decoration: none;
}
.projeler-navlink02 {
  display: contents;
}
.projeler-projecs-card3 {
  text-decoration: none;
}
.projeler-navlink03 {
  display: contents;
}
.projeler-projecs-card4 {
  text-decoration: none;
}
.projeler-navlink04 {
  display: contents;
}
.projeler-projecs-card5 {
  text-decoration: none;
}
.projeler-navlink05 {
  display: contents;
}
.projeler-projecs-card6 {
  text-decoration: none;
}
.projeler-navlink06 {
  display: contents;
}
.projeler-projecs-card7 {
  text-decoration: none;
}
.projeler-navlink07 {
  display: contents;
}
.projeler-projecs-card8 {
  text-decoration: none;
}
.projeler-navlink08 {
  display: contents;
}
.projeler-projecs-card9 {
  text-decoration: none;
}
.projeler-navlink09 {
  display: contents;
}
.projeler-projecs-card10 {
  text-decoration: none;
}
.projeler-navlink10 {
  display: contents;
}
.projeler-projecs-card11 {
  text-decoration: none;
}
.projeler-navlink11 {
  display: contents;
}
.projeler-projecs-card12 {
  text-decoration: none;
}
.projeler-navlink12 {
  display: contents;
}
.projeler-projecs-card13 {
  text-decoration: none;
}
.projeler-navlink13 {
  display: contents;
}
.projeler-projecs-card14 {
  text-decoration: none;
}
.projeler-navlink14 {
  display: contents;
}
.projeler-projecs-card15 {
  text-decoration: none;
}
.projeler-navlink15 {
  display: contents;
}
.projeler-projecs-card16 {
  text-decoration: none;
}
.projeler-navlink16 {
  display: contents;
}
.projeler-projecs-card17 {
  text-decoration: none;
}
.projeler-navlink17 {
  display: contents;
}
.projeler-projecs-card18 {
  text-decoration: none;
}
.projeler-navlink18 {
  display: contents;
}
.projeler-projecs-card19 {
  text-decoration: none;
}
.projeler-navlink19 {
  display: contents;
}
.projeler-projecs-card20 {
  text-decoration: none;
}
.projeler-navlink20 {
  display: contents;
}
.projeler-projecs-card21 {
  text-decoration: none;
}
.projeler-navlink21 {
  display: contents;
}
.projeler-projecs-card22 {
  text-decoration: none;
}
.projeler-navlink22 {
  display: contents;
}
.projeler-projecs-card23 {
  text-decoration: none;
}
@media(max-width: 479px) {
  .projeler-hizmetlerimiz {
    height: 7200px;
  }
  .projeler-max-width {
    height: 7500px;
  }
  .projeler-container1 {
    width: 450px;
    height: 7000px;
    justify-content: center;
  }
}
