.blog-post-card-blog-post-card {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 400px;
  align-self: stretch;
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post-card-blog-post-card:hover {
  transform: scale(1.1);
}
.blog-post-card-image {
  flex: 1;
  width: 100%;
  object-fit: cover;
}
.blog-post-card-container {
  width: 100%;
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-items: center;
  padding-top: Half0Unit;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: Half0Unit;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card-text {
  color: var(--dl-color-gray-black80);
  font-size: 22px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 0px;
  font-weight: 500;
  line-height: 28px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-card-text1 {
  color: var(--dl-color-gray-black50);
  font-size: 16px;
  font-style: normal;
  margin-bottom: 0px;
}
.blog-post-card-link {
  align-self: flex-start;
  justify-content: flex-start;
}
.blog-post-card-root-class-name {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name1 {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name2 {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name3 {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name4 {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name5 {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name6 {
  max-width: 270px;
  max-height: 480px;
}
.blog-post-card-root-class-name7 {
  max-width: 270px;
  max-height: 480px;
}
@media(max-width: 991px) {
  .blog-post-card-root-class-name {
    margin: -20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .blog-post-card-root-class-name1 {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .blog-post-card-root-class-name2 {
    align-self: stretch;
    margin-bottom: -20px;
  }
  .blog-post-card-root-class-name3 {
    margin: -20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
