.con-card-category-card {
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}
.con-card-category-card:hover {
  color: var(--dl-color-pallet-yellow);
  transform: scale(1.2);
}
.con-card-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
  object-position: bottom;
}
.con-card-root-class-name {
  width: 50px;
  height: 50px;
  margin-top: -20px;
  margin-left: 5px;
}
.con-card-root-class-name1 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 50px;
}
.con-card-root-class-name2 {
  width: 50px;
  height: 50px;
  opacity: 0.4;
  margin-top: -50px;
  margin-left: 85px;
}
.con-card-root-class-name3 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 50px;
}
.con-card-root-class-name4 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: -100px;
  margin-left: 85px;
  margin-bottom: 50px;
}
.con-card-root-class-name5 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: -100px;
  margin-left: 85px;
  margin-bottom: 50px;
}
.con-card-root-class-name6 {
  width: 50px;
  height: 50px;
  opacity: 0.4;
  margin-top: -20px;
  margin-left: 5px;
}
.con-card-root-class-name7 {
  width: 50px;
  height: 50px;
  opacity: 0.4;
  margin-top: -50px;
  margin-left: 85px;
}
.con-card-root-class-name8 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 50px;
}
.con-card-root-class-name9 {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: -100px;
  margin-left: 85px;
  margin-bottom: 50px;
}
.con-card-root-class-name10 {
  width: 50px;
  height: 50px;
  margin-top: -20px;
  margin-left: 5px;
}
.con-card-root-class-name11 {
  width: 50px;
  height: 50px;
  opacity: 0.4;
  margin-top: -50px;
  margin-left: 85px;
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #00f5ff;
  border-width: 2px;
  flex-direction: column;
  background-color: #000000;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-max-width {
  padding-left: 0px;
  padding-right: 0px;
}
.footer-footer1 {
  width: 320px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.footer-container {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 0px;
  align-items: flex-start;
  margin-left: -300px;
  margin-right: 500px;
  margin-bottom: 0px;
  flex-direction: column;
}
.footer-arsserfooterlogo {
  width: 300px;
  object-fit: cover;
}
.footer-text {
  color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: -120px;
}
.footer-maplogo1 {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  object-fit: cover;
}
.footer-maplogo2 {
  width: 25px;
  height: 25px;
  margin-top: 50px;
  object-fit: cover;
}
.footer-telephonelogo {
  width: 25px;
  height: 25px;
  margin-top: 30px;
  object-fit: cover;
}
.footer-text08 {
  color: rgb(255, 255, 255);
  margin-top: -25px;
  margin-left: var(--dl-space-space-twounits);
}
.footer-maillogo {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  object-fit: cover;
}
.footer-link {
  color: rgb(255, 255, 255);
  margin-top: -25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-links-container {
  width: 320px;
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-self: center;
  margin-top: 100px;
  align-items: flex-start;
  margin-left: -400px;
  margin-right: 400px;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container1 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  margin-right: 100px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text13 {
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-style: normal;
  margin-top: 40px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-link1 {
  display: contents;
}
.footer-component {
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-component1 {
  text-decoration: none;
}
.footer-link3 {
  display: contents;
}
.footer-component2 {
  text-decoration: none;
}
.footer-container2 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text14 {
  color: #ffffff;
  font-size: 23px;
  align-self: center;
  font-style: normal;
  margin-top: 40px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-navlink {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink1 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink2 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text15 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text16 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink3 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  align-self: center;
  text-decoration: none;
}
.footer-footerm-mobl {
  width: 320px;
  display: none;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.footer-container3 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.footer-arsserfooterlogo1 {
  width: 300px;
  object-fit: cover;
}
.footer-text17 {
  color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: -120px;
}
.footer-maplogo11 {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  object-fit: cover;
}
.footer-maplogo21 {
  width: 25px;
  height: 25px;
  margin-top: 50px;
  object-fit: cover;
}
.footer-telephonelogo1 {
  width: 25px;
  height: 25px;
  margin-top: 30px;
  object-fit: cover;
}
.footer-text25 {
  color: rgb(255, 255, 255);
  margin-top: -25px;
  margin-left: var(--dl-space-space-twounits);
}
.footer-maillogo1 {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  object-fit: cover;
}
.footer-link4 {
  color: rgb(255, 255, 255);
  margin-top: -25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-links-container1 {
  width: 320px;
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-self: center;
  margin-top: 400px;
  align-items: flex-start;
  margin-left: -460px;
  margin-right: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container4 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text30 {
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-style: normal;
  margin-top: 40px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-link5 {
  display: contents;
}
.footer-component4 {
  text-decoration: none;
}
.footer-link6 {
  display: contents;
}
.footer-component5 {
  text-decoration: none;
}
.footer-link7 {
  display: contents;
}
.footer-component6 {
  text-decoration: none;
}
.footer-container5 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text31 {
  color: #ffffff;
  font-size: 23px;
  align-self: center;
  font-style: normal;
  margin-top: 40px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-navlink4 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink5 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink6 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text32 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text33 {
  color: #ffffff;
  font-size: 16px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink7 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  align-self: center;
  text-decoration: none;
}
.footer-banner {
  flex: 0 0 auto;
  width: auto;
  height: 1px;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.footer-text34 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-top: 25px;
  margin-left: var(--dl-space-space-twounits);
}

































@media(max-width: 991px) {
  .footer-footer1 {
    display: none;
  }
  .footer-container {
    width: 320px;
  }
  .footer-text13 {
    text-align: center;
  }
  .footer-container2 {
    margin-top: 20px;
  }
  .footer-footerm-mobl {
    display: flex;
  }
  .footer-container3 {
    width: 320px;
  }
  .footer-text30 {
    text-align: center;
  }
  .footer-container5 {
    margin-top: 20px;
  }
}
