.kurucu-card-blog-post-card {
  width: 1080px;
  height: 540px;
  display: flex;
  position: relative;
  max-width: 1080px;
  align-self: stretch;
  max-height: auto;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/kurucularps-600h.jpg");
}
.kurucu-card-blog-post-card:hover {
  transform: scale(1.1);
}
.kurucu-card-container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 275px;
  flex-direction: column;
  justify-content: center;
}
.kurucu-card-container01 {
  flex: 0 0 auto;
  width: 120px;
  display: flex;
  align-items: flex-start;
}
.kurucu-card-container02 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.kurucu-card-button {
  fill: transparent;
  color: transparent;
  width: 50px;
  height: 50px;
  margin-right: 500px;
  background-size: cover;
  background-image: url("public/mapicon1-200h.jpg");
}
.kurucu-card-container03 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
  flex-direction: column;
}
.kurucu-card-button1 {
  fill: transparent;
  color: transparent;
  width: 50px;
  height: 50px;
  margin-right: 500px;
  background-size: cover;
  background-image: url("public/instagramicon1-200h.png");
}
.kurucu-card-container04 {
  flex: 0 0 auto;
  width: 120px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
}
.kurucu-card-container05 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.kurucu-card-button2 {
  fill: transparent;
  color: transparent;
  width: 50px;
  height: 50px;
  margin-right: 500px;
  background-size: cover;
  background-image: url("public/linkedinicon-200h.png");
}
.kurucu-card-container06 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
  flex-direction: column;
}
.kurucu-card-button3 {
  fill: transparent;
  color: transparent;
  width: 50px;
  height: 50px;
  margin-right: 500px;
  background-size: cover;
  background-image: url("public/xicon-200h.png");
}
.kurucu-card-container07 {
  flex: 0 0 auto;
  width: 120px;
  display: flex;
  align-items: flex-start;
}
.kurucu-card-container08 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.kurucu-card-button4 {
  fill: transparent;
  color: transparent;
  width: 50px;
  height: 50px;
  margin-right: 500px;
  background-size: cover;
  background-image: url("public/youtubeicon1-200h.jpg");
}
.kurucu-card-container09 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
  flex-direction: column;
}
.kurucu-card-button5 {
  fill: transparent;
  color: transparent;
  width: 50px;
  height: 50px;
  margin-right: 500px;
  background-size: cover;
  background-image: url("public/mailicon1-200h.jpg");
}
.kurucu-card-root-class-name {
  width: 900px;
  height: 450px;
  align-self: center;
}
@media(max-width: 479px) {
  .kurucu-card-root-class-name {
    width: 450px;
    height: 225px;
  }
}
