.kurucu-card-mobil-blog-post-card {
  width: 1080px;
  height: 540px;
  display: flex;
  position: relative;
  max-width: 1080px;
  align-self: stretch;
  max-height: auto;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/kurucular2-600h.jpg");
}
.kurucu-card-mobil-container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 250px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.kurucu-card-mobil-container01 {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-link {
  fill: transparent;
  color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: row;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/youtubetransparanicon2-200h.png");
}
.kurucu-card-mobil-text {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: center;
  margin-top: 90px;
  text-align: left;
  margin-left: -37px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-container02 {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  margin-top: 45px;
  align-items: flex-start;
  margin-bottom: 45px;
}
.kurucu-card-mobil-link01 {
  fill: transparent;
  color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: row;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/xicon-200h.png");
}
.kurucu-card-mobil-text01 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: center;
  margin-top: 90px;
  text-align: left;
  margin-left: -31px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-container03 {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-link02 {
  fill: transparent;
  color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: row;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/youtubetransparanicon2-200h.png");
}
.kurucu-card-mobil-text02 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: center;
  margin-top: 90px;
  text-align: left;
  margin-left: -37px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-container04 {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-link03 {
  fill: transparent;
  color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: row;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/youtubetransparanicon2-200h.png");
}
.kurucu-card-mobil-text03 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: center;
  margin-top: 90px;
  text-align: left;
  margin-left: -37px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-container05 {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-link04 {
  fill: transparent;
  color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: row;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/youtubetransparanicon2-200h.png");
}
.kurucu-card-mobil-text04 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: center;
  margin-top: 90px;
  text-align: left;
  margin-left: -37px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-container06 {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-link05 {
  fill: transparent;
  color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: row;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/youtubetransparanicon2-200h.png");
}
.kurucu-card-mobil-text05 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: center;
  margin-top: 90px;
  text-align: left;
  margin-left: -37px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-container07 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 250px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.kurucu-card-mobil-container08 {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  margin-top: 45px;
  align-items: flex-start;
  margin-bottom: 45px;
}
.kurucu-card-mobil-link06 {
  fill: transparent;
  color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: row;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/xicon-200h.png");
}
.kurucu-card-mobil-text06 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: center;
  margin-top: 90px;
  text-align: left;
  margin-left: -31px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-container09 {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  margin-top: 45px;
  align-items: flex-start;
  margin-bottom: 45px;
}
.kurucu-card-mobil-link07 {
  fill: transparent;
  color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: row;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/xicon-200h.png");
}
.kurucu-card-mobil-text07 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: center;
  margin-top: 90px;
  text-align: left;
  margin-left: -31px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-container10 {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-link08 {
  fill: transparent;
  color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: row;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/youtubetransparanicon2-200h.png");
}
.kurucu-card-mobil-text08 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: center;
  margin-top: 90px;
  text-align: left;
  margin-left: -37px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-container11 {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-link09 {
  fill: transparent;
  color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: row;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/youtubetransparanicon2-200h.png");
}
.kurucu-card-mobil-text09 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: center;
  margin-top: 90px;
  text-align: left;
  margin-left: -37px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-container12 {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-link10 {
  fill: transparent;
  color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: row;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/youtubetransparanicon2-200h.png");
}
.kurucu-card-mobil-text10 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: center;
  margin-top: 90px;
  text-align: left;
  margin-left: -37px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-container13 {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.kurucu-card-mobil-link11 {
  fill: transparent;
  color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: row;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/youtubetransparanicon2-200h.png");
}
.kurucu-card-mobil-text11 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: center;
  margin-top: 90px;
  text-align: left;
  margin-left: -37px;
  margin-right: 0px;
  margin-bottom: 0px;
}

@media(max-width: 991px) {
  .kurucu-card-mobil-blog-post-card {
    width: 340px;
    height: 340px;
    background-size: cover;
    background-image: url("public/kurucularmobil-1100w.jpg");
  }
  .kurucu-card-mobil-container {
    align-self: center;
    margin-top: 0px;
    margin-left: -70px;
    margin-bottom: -20px;
  }
  .kurucu-card-mobil-container01 {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .kurucu-card-mobil-link {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-image: url("public/webicon-200h.png");
  }
  .kurucu-card-mobil-text {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .kurucu-card-mobil-container02 {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .kurucu-card-mobil-link01 {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-top: 20px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-image: url("public/instagramicon1-200h.png");
  }
  .kurucu-card-mobil-text01 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .kurucu-card-mobil-container03 {
    width: 30px;
    height: 30px;
  }
  .kurucu-card-mobil-link02 {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-image: url("public/linkediniconnew-200h.png");
  }
  .kurucu-card-mobil-text02 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .kurucu-card-mobil-container04 {
    width: 30px;
    height: 30px;
  }
  .kurucu-card-mobil-link03 {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-top: 20px;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-image: url("public/xicon-200h.png");
  }
  .kurucu-card-mobil-text03 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .kurucu-card-mobil-container05 {
    width: 30px;
    height: 30px;
  }
  .kurucu-card-mobil-link04 {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-top: 20px;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .kurucu-card-mobil-text04 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .kurucu-card-mobil-container06 {
    width: 30px;
    height: 30px;
  }
  .kurucu-card-mobil-link05 {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-top: 20px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-image: url("public/mailbetransparanicon-200h.png");
  }
  .kurucu-card-mobil-text05 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .kurucu-card-mobil-container07 {
    align-self: center;
    margin-top: -200px;
    margin-left: 70px;
    margin-bottom: -20px;
  }
  .kurucu-card-mobil-container08 {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .kurucu-card-mobil-link06 {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-top: 10px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-image: url("public/webicon-200h.png");
  }
  .kurucu-card-mobil-text06 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .kurucu-card-mobil-container09 {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .kurucu-card-mobil-link07 {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-top: 20px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-image: url("public/instagramicon1-200h.png");
  }
  .kurucu-card-mobil-text07 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .kurucu-card-mobil-container10 {
    width: 30px;
    height: 30px;
  }
  .kurucu-card-mobil-link08 {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-top: 20px;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-image: url("public/linkediniconnew-200h.png");
  }
  .kurucu-card-mobil-text08 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .kurucu-card-mobil-container11 {
    width: 30px;
    height: 30px;
  }
  .kurucu-card-mobil-link09 {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-top: 20px;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-image: url("public/xicon-200h.png");
  }
  .kurucu-card-mobil-text09 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .kurucu-card-mobil-container12 {
    width: 30px;
    height: 30px;
  }
  .kurucu-card-mobil-link10 {
    width: 30px;
    height: 30px;
    opacity: 0.2;
    padding: 0px;
    margin-top: 20px;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .kurucu-card-mobil-text10 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .kurucu-card-mobil-container13 {
    width: 30px;
    height: 30px;
  }
  .kurucu-card-mobil-link11 {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-top: 20px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-image: url("public/mailbetransparanicon-200h.png");
  }
  .kurucu-card-mobil-text11 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
}
