.navbar-mobile2-navbar {
  top: 0;
  width: 100%;
  height: 71px;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.navbar-mobile2-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.navbar-mobile2-desktop-menu {
  width: 1200px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.navbar-mobile2-links {
  width: 1200px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.navbar-mobile2-text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 500;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-mobile2-text1 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: 80px;
  margin-right: 80px;
  text-decoration: none;
}
.navbar-mobile2-text2 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.navbar-mobile2-navlink {
  display: contents;
}
.navbar-mobile2-image {
  width: 225px;
  height: 61px;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  text-decoration: none;
}
.navbar-mobile2-text3 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navbar-mobile2-text-karyer {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: 80px;
  margin-right: 80px;
  text-decoration: none;
}
.navbar-mobile2-text4 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-mobile2-burger-menu {
  display: none;
}
.navbar-mobile2-image1 {
  height: 2rem;
  text-decoration: none;
}
.navbar-mobile2-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-mobile2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-mobile2-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-mobile2-navlink2 {
  display: contents;
}
.navbar-mobile2-logo {
  height: 2rem;
  text-decoration: none;
}
.navbar-mobile2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-mobile2-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile2-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-mobile2-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-mobile2-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-mobile2-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-mobile2-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-mobile2-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-mobile2-navlink8 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-mobile2-text5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-mobile2-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-mobile2-login {
  margin-right: var(--dl-space-space-twounits);
}
.navbar-mobile2-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-mobile2-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-mobile2-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}






























@media(max-width: 991px) {
  .navbar-mobile2-navbar {
    background-color: #000000;
  }
  .navbar-mobile2-navbar-interactive {
    padding: var(--dl-space-space-unit);
    justify-content: center;
  }
  .navbar-mobile2-desktop-menu {
    display: none;
  }
  .navbar-mobile2-burger-menu {
    width: 420px;
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
  }
  .navbar-mobile2-image1 {
    width: auto;
    height: 55px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 100px;
    margin-bottom: 0px;
    justify-content: center;
  }
  .navbar-mobile2-icon {
    fill: #ffffff;
    width: 36px;
    height: 36px;
    margin: 150px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .navbar-mobile2-mobile-menu {
    padding: 16px;
    background-color: #000000;
  }
  .navbar-mobile2-logo {
    width: 70%;
    height: 100%;
  }
  .navbar-mobile2-icon02 {
    fill: #ea1414;
    width: 36px;
    height: 36px;
    margin-bottom: 30px;
  }
  .navbar-mobile2-links1 {
    align-self: center;
    align-items: center;
  }
  .navbar-mobile2-navlink3 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-bottom: 30px;
    text-decoration: none;
  }
  .navbar-mobile2-navlink4 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 30px;
  }
  .navbar-mobile2-navlink5 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-bottom: 30px;
    text-decoration: none;
  }
  .navbar-mobile2-navlink6 {
    color: rgb(253, 253, 253);
    font-size: 22px;
    margin-bottom: 30px;
  }
  .navbar-mobile2-navlink7 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-bottom: 30px;
  }
  .navbar-mobile2-navlink8 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-bottom: 30px;
  }
  .navbar-mobile2-text5 {
    color: rgb(255, 255, 255);
    height: auto;
    font-size: 22px;
  }
  .navbar-mobile2-buttons {
    display: none;
  }
  .navbar-mobile2-icon-group {
    display: none;
  }
}
@media(max-width: 767px) {
  .navbar-mobile2-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-mobile2-desktop-menu {
    display: none;
  }
  .navbar-mobile2-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-mobile2-navlink3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-mobile2-navlink4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-mobile2-navlink5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-mobile2-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-mobile2-navlink7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-mobile2-navlink8 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-mobile2-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
