.section-heading-section-heading {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.section-heading-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-text1 {
  color: var(--dl-color-gray-black60);
  text-align: center;
  line-height: 24px;
}
.section-heading-root-class-name {
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-root-class-name1 {
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-root-class-name2 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 12px;
}
.section-heading-root-class-name3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name5 {
  margin-top: var(--dl-space-space-unit);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name6 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name7 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name8 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 12px;
}
.section-heading-root-class-name9 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name10 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name11 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name12 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name13 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name14 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name15 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name16 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name17 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name18 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name19 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name20 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name21 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name22 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name23 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name24 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name25 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name26 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name27 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name28 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name29 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name30 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name31 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.section-heading-root-class-name32 {
  margin: -5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.section-heading-root-class-name34 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
@media(max-width: 991px) {
  .section-heading-root-class-name {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .section-heading-root-class-name4 {
    top: 0px;
    left: 147px;
    position: static;
  }
  .section-heading-root-class-name33 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .section-heading-root-class-name34 {
    margin-top: -10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
